@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "./texts.css" layer(theme);
@import "./shadows.css" layer(theme);
@import "./colors.css" layer(theme);

@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --radius-10: 0.625rem;
  --radius-220: 1.25rem;

  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-spinner-leaf-fade: spinner-leaf-fade 800ms linear infinite;
  --animate-enter-from-left: enter-from-left 250ms ease;
  --animate-enter-from-right: enter-from-right 250ms ease;
  --animate-exit-to-left: exit-to-left 250ms ease;
  --animate-exit-to-right: exit-to-right 250ms ease;

  --breakpoint-xs: 30rem;

  @keyframes spinner-leaf-fade {
    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }

    to {
      height: 0px;
      opacity: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0px;
      opacity: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes enter-from-right {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-from-left {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exit-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(100px);
    }
  }

  @keyframes exit-to-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(-100px);
    }
  }
}

@utility slide-* {
  --slide-count: --value(integer);
}

@utility slide-gap-* {
  gap: calc(var(--spacing) * --value(integer));
  --slide-gap: calc(
    var(--spacing) * (var(--slide-count) - 1) * --value(integer)
  );
}

@utility slide-basis-* {
  flex-basis: calc((100% - var(--slide-gap, 0px)) * --value(ratio));
}

@utility translate-y-cue-* {
  &::-webkit-media-text-track-container {
    transform: translateY(calc(--value(integer) * -1px));
  }
}

@layer base {
  body {
    @apply bg-bg-white-0 antialiased text-static-white;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer text-label-sm;
  }

  input {
    @apply text-paragraph-sm text-text-strong-950 transition duration-200 ease-out placeholder:select-none placeholder:text-text-soft-400 placeholder:transition placeholder:duration-200 placeholder:ease-out group-hover/input-wrapper:placeholder:text-text-sub-600 focus:outline-none group-has-[input:focus]:placeholder:text-text-sub-600 disabled:text-text-disabled-300 disabled:placeholder:text-text-disabled-300;
  }
}

/* Custom styles */
.remixicon path {
  transform: scale(0.8996);
  transform-origin: center;
}
